body {
    background: #eee;
    padding: 0 16px;
}

nav {
    background: #555;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.fancy {
    float: left;
    font-size: larger;
    padding: 1rem;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.fancy:hover {
    background-color: #111;
}

@media screen and (max-width: 600px) {
    .fancy {
        color: green;
        float: none;
    }
}

.titles {
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    background: gray;
}

.link {
    padding: 1rem;
    color: black;
}